html {
    box-sizing: border-box;
}

*,
* :before,
* :after {
    box-sizing: inherit;
}

body {
    /* font-family: "Open Sans", sans-serif; */
    margin: 0;
    background-image: url(../img/background_breakfast.jpg);
    background-repeat: repeat-x;
    background-color: black;
}

body.user-is-tabbing *:focus {
    outline: 2px solid #7AACFE !important;
    /* for non-webkit browsers */
    outline: 5px auto -webkit-focus-ring-color !important;
}


/* Login form */

.form {
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 1em;
    font-weight: lighter;
}

.login-input {
    display: block;
    min-height: 40px;
    width: 90%;
    font-size: 0.8em;
    margin: 10px 0;
    border-style: ridge;
    border-width: 1px;
}

.signup-btn {
    float: right;
    border-style: none;
    border-width: 0px;
    width: 150px;
    min-height: 40px;
    margin: 5px 1px;
    background-color: white;
    color: teal;
}

.submit-btn {
    float: right;
    border-style: solid;
    border-radius: 3px;
    border-width: 0px;
    width: 100px;
    min-height: 40px;
    margin: 5px 1px;
    background-color: teal;
    color: white;
}

.login-label {
    font-weight: lighter;
    font-size: 1.5em;
}


/* Page navigation */

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

nav {
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: black;
    padding: 10px;
}

nav a {
    /* text-decoration: none; */
    color: gray;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.8em;
}

nav a:active {
    color: white;
}

.restaurant {
    font-family: 'Caveat', cursive;
    font-weight: 900;
    color: white;
    padding-right: 20%;
}


/* View all pages */

.dishes {
    height: 100%;
    margin-top: 200px;
    background-color: black;
    color: gray;
    padding: 2%;
    padding-right: 0%;
}

.dish {
    width: 30%;
    text-align: center;
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 2%;
}

.image {
    width: 100%;
    height: 100%;
}

.price {
    color: chocolate;
}

.dish-name {
    color: white;
    text-transform: uppercase;
}

.dish-desc {
    font-size: 0.9em;
    color: gray;
}

a:hover .dish-desc {
    color: white;
}


/* PLace an order page */

.content-wrap {
    width: 100%;
    overflow: auto;
    display: flex;
    text-align: center;
}

.col-narrow {
    width: 48%;
    height: 100%;
    padding-right: 2%;
}

.dsh {
    margin-top: 200px;
    background-color: black;
    color: gray;
    padding: 2%;
    padding-top: 0%;
    padding-right: 0%;
}

.col-wide {
    height: 100%;
    width: 48%;
}

.col-wide .dish-name {
    margin-top: 0%;
    font-size: 2em;
}

.order-btn {
    border: none;
    border-radius: 60%;
    margin: 0px;
    padding: 0px;
    width: 48%;
    min-height: 50px;
    background: rgb(46, 20, 1);
    color: white;
    text-transform: uppercase;
    outline: none;
    float: right;
}

.cancel-btn {
    border: none;
    border-radius: 60%;
    margin: 0px;
    padding: 0px;
    width: 48%;
    min-height: 50px;
    background: rgb(46, 20, 1);
    color: white;
    text-transform: uppercase;
    outline: none;
    float: left;
}

img {
    margin: 0px;
    padding: 0px;
}

button:focus {
    outline: none;
    outline: 0;
}


/* Admin view orders page */

.ad-dsh {
    width: 300px;
    min-width: 150px;
    display: flex;
    padding: 1%;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    color: white;
}

.ad-image {
    width: 100%;
    /* height: 50%; */
}

.ad-orders {
    font-family: sans-serif;
    color: white;
    /* padding: 2%; */
    padding-right: 0%;
    display: flex;
    padding-bottom: 0px;
}

.ad-desc {
    color: gray;
    font-size: 0.8em;
}

.ad {
    font-size: 1.1em;
    min-width: 150px;
    text-align: center;
}

.ad-name {
    color: white;
}

#ad-orders {
    margin-top: 270px;
}

.ad-btns {
    margin-top: 1%;
    min-width: 300px;
}

.ad-btns button {
    border-style: none;
    color: rgb(170, 90, 15);
    background: black;
    margin: 1%;
}

.ad-btns button:hover {
    text-decoration: underline;
}

.ad-btn {}

@media only screen and (max-width: 816px) {
    .col-wide .dish-name {
        font-size: 1em;
    }
}

@media only screen and (max-width: 573px) {
    .restaurant {
        margin-left: 0%;
        display: none;
    }
    .dish {
        width: 44%;
    }
    nav a {
        padding: 1%;
    }
    .content-wrap {
        display: inline-block;
        overflow: auto;
    }
    .col-narrow {
        width: 100%;
    }
    .col-wide {
        width: 100%;
    }
    .col-wide .dish-name {
        font-size: 2em;
    }
}